@using DotnetHomework.Data.SocietyManagementSystemEntities
@model List<VSocietyInfoEntity>

@foreach (VSocietyInfoEntity vSocietyInfoEntity in Model)
{
    //只显示一行社团详情, 超出部分用 ... 替代
    if (vSocietyInfoEntity.Description.Length>16)
    {
        vSocietyInfoEntity.Description = vSocietyInfoEntity.Description.Substring(0, 15)+"...";
    }

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          @vSocietyInfoEntity.CategoryName
        </div>
        <div class="card-block">
          <h4 class="card-title">@vSocietyInfoEntity.Name</h4>
          <p class="card-text">@vSocietyInfoEntity.Description</p>
          <a asp-controller="Society" asp-action="Info" asp-route-id=@vSocietyInfoEntity.Id class="btn btn-primary">立即加入</a>
          <span>已有 <strong>@vSocietyInfoEntity.MemberCount</strong> 人加入</span>
        </div>
      </div>
    </div>
}
