@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>联系我们</h3>

<address>
  北京市<br/>
  西长安街174号中南海新华门<br/>
  <abbr title="Phone">P:</abbr>
  1000000000
</address>

<address>
  <strong>Support:</strong> <a href="http://www.gov.cn/">www.gov.cn</a><br/>
</address>