/*预设颜色*/

.bg-color-blue {
    background-color: #5bc0de;
}

.bg-color-green {
    background-color: #5cb85c;
}

.bg-color-red {
    background-color: #d9534f;
}

.bg-color-gold {
    background-color: #f0ad4e;
}

.bg-color-teal {
    background-color: #00aba9;
}

.bg-color-asbestos {
    background-color: #7f8c8d;
}

.panel.panel-accent-gold {
    border-top: 3px solid #f0ad4e;
}

.panel.panel-accent-teal {
    border-top: 3px solid #00aba9;
}

.panel.panel-accent-blue {
    border-top: 3px solid #5bc0de;
}

.panel.panel-accent-asbestos {
    border-top: 3px solid #7f8c8d;
}
