@using DotnetHomework.Data.SocietyManagementSystemEntities
@model DotnetHomework.Models.SocietyViewModels.SocietySearchViewModel

@{
    ViewData["Title"] = "详细搜索";
}

<link rel="stylesheet" href="~/css/header-lined.css"/>

<h2>@ViewData["Title"]</h2>

<div class="row">

  <div class="col-md-3">

    <form asp-controller="Society" asp-action="Search" method="post" class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon icon-search"></i>过滤器
          </h3>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label asp-for="NameContains" class="col-md-3 control-label"></label>
            <div class="col-md-9">
              <input asp-for="NameContains" class="form-control" placeholder="名称中包含"/>
            </div>
          </div>
          <div class="form-group">
            <label asp-for="SocietyCategoryEntities" class="col-md-3 control-label"></label>
            <div class="col-md-9">
              <select class="form-control" asp-for="SelectedCategory">
                <option selected="selected">选择社团类型</option>
                @foreach (SocietyCategoryEntity societyCategoryEntity in Model.SocietyCategoryEntities)
                {
                    <option value=@societyCategoryEntity.Id>@societyCategoryEntity.Name</option>
                }
              </select>
            </div>
          </div>
          <div class="form-group">
            <label asp-for="DescriptionContains" class="col-md-3 control-label"></label>
            <div class="col-md-9">
              <input asp-for="DescriptionContains" class="col-md-9 form-control" placeholder="描述中包含"/>
            </div>
          </div>

        </div>
        <div class="panel-footer">
          <button class="btn btn-success btn-sm btn-block" type="submit">搜索</button>
        </div>
      </div>
    </form>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon icon-bookmark"></i>操作
        </h3>
      </div>
      <div class="list-group">
        <a  asp-controller="Society" asp-action="Create" class="list-group-item">
          创建新的社团
        </a>
      </div>
    </div>

  </div>


  <div class="col-md-9 main-content">

    <div class="header-lined">
      <h1>搜索结果</h1>
      <ol class="breadcrumb">
        <li>
          <a asp-controller="Home" asp-action="Index">
            首页
          </a>
        </li>
        <li>
          <a asp-controller="Society" asp-action="Index">
            社团
          </a>
        </li>
        <li class="active">详细搜索</li>
      </ol>
    </div>

    <div class="row">
      @if (Model.VSocietyInfoEntities.Count == 0)
      {
          <div class="col-md-12">
            <h3>(＃°Д°) 竟然没有搜索结果, 快再搜一次</h3>
          </div>
      }
      else
      {
        @await Html.PartialAsync("_SocietyCardPartial",Model.VSocietyInfoEntities)
      }
    </div>

  </div>
</div>